*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(./image/background.jpg);
    background-size: 1000% 1000%;
    background-repeat: no-repeat;
}
.Mainform{
    margin: auto;
}
#header .title{
    display: flex;
    width: 100%;
    height: 7%;
    background-color: #9fdbdf1a;
}
#header .title .search{
    display: flex;
    padding-left:1%;
    border: 1px solid #fff;
    width: 20rem;
    margin-left:1rem ;
    border-radius: 10rem;
} 
#header .title .search img{
    margin-top:0.5rem ;
}
#header .title .search input{
    margin-left:0.5rem ;
    border: none;
    background-color: #2fbec600;
}
#header .title .search .input{
    margin-top: 0.7rem;
}
#header .title .search input:focus{
    outline: none;
}
#top{
    display: flex;
    width: 80rem;
}
#top .current{
    display: flex;
    flex: 1;
    border: 1px solid #000;
    border-radius: 1em;
    margin: 2em;
    width: 35em;
    height: 20rem;
}
#top .current .Temperature{
    position: relative;
    text-align: center;
    top:5em;
    left: -4.5em;
}
#top .current .status{
    position: relative;
    top:7em;
}
#top .current .Temperature img{
    margin-left: -4em;
}
#top .current .Temperature h1{
    margin-top: -1.5em;
}
#top .current .city{
    position: relative;
    top:1em;
    left: 15em;
}
#top .current .day-status{
    position: relative;
    top:3em;
    left: 3em;
}
#top .Day{
    flex: 1;
    margin: 2em;
    width: 35em;
    height: 20em;
}
#top .Day .today{
    width: 36em;
    height: 9em;
    border: 1px solid #000;
    border-radius: 1em;
    margin-top: 1em;
    margin-left: 0;
    margin-top: 0;
    text-align: center;
}
#top .Day .tomorrow{
    width: 36em;
    height: 9em;
    border: 1px solid #000;
    border-radius: 1em;
    margin-top: 2em;
    margin-bottom: 0;
    text-align: center;
}
#bottom .weekwarp{
    display: flex;
    width: 80rem;
    margin-top: -2.5rem;
}
#bottom .weekwarp .week{
    flex: 1;
    width: 3em;
    height: 10em;
    margin: 2em;
    border: 1px solid #000;
    border-radius: 0.5em;
    text-align: center;

}